.row h1 {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
    margin-top: 25px;
    border: 2px red;
  }