@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'open Sans', sans-serif;
}

html, body {
  background-color: #525252;
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: unset;
  text-decoration: none;
}

.btn-custom{
  background-color: #ffc700 ;
  border: 1px solid black;
}

.dsmovie-card {
  background-color: rgb(113, 112, 112);
  margin: 20px 0;
  border-radius: 4px;
  height: auto;
}