.detalhe {
  width: 100%;
  max-width: 1120px;
  height: auto;

  background: #525252;
  margin: 0 10px;
}

.detalhe h1 {
  width: 265px;
  height: 66px;
  left: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  margin-top: 25px;
  margin-left: 10px;
  color: #ffffff;
  mix-blend-mode: normal;
}

.reviewform {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background: #6c6c6c;

  border-radius: 4px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 147px;
  width: auto;
  padding-left: 10px;
}

.listing {
  display: flex;
  flex-direction: column;
  background: #6c6c6c;
  
  border-radius: 4px;
  margin: 10px;
  height: auto;
  width: auto;
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .detalhe h1 {
    width: 520px;
  }

  .reviewform {
    height: 185px;
    width: 560px;
    margin-left: 12px;
    margin-top: 10px;
  }

  .listing {
    height: auto;
    width: auto;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .reviewform {
    height: 185px;
    width: 730px;
    margin-left: 12px;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .detalhe {
    width: 1120px;
    margin: 0 auto;
  }

  .reviewform {
    height: 185px;
    width: 100%;
    margin-left: 12px;
    margin-top: 10px;
  }
}
