.dsmovie-card {
  background-color: rgb(113, 112, 112);
  margin: 20px 0;
  border-radius: 4px;
  height: auto;
}

.dsmovie-card-container img {
  width: 100%;
  margin-top: 26px;
}

.dsmovie-card-bottom-container h3 {
  font-size: 20px;
}

.dsmovie-card-bottom-container h4 {
  font-size: 16px;
}

.dsmovie-card-bottom-container p {
  font-size: 12px;
}

.dsmovie-card-bottom-container {
  margin: 10px;
  text-align: left;
}

@media (min-width: 576px) {
  .dsmovie-card {
    height: 360px;
  }
}
